
<div class="ui three column stackable grid inverted segment" ng-controller="leaderboardCtrl" ng-init="init()">
    
    <div class="ui inverted one statistics column">
      <h2 class="ui blue block header rounded inverted">
          PERSONAL
      </h2>
      
      <div class="statistic">
        <div class="text value">
          312
        </div>
        <div class="label">
          Monsters Defeated
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          2
        </div>
        <div class="label">
          Average Incorrect
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          13
        </div>
        <div class="label">
          Average Correct
        </div>
      </div>
    </div>
  <div class="ui inverted one statistics column">
      <h2 class="ui fluid block header rounded inverted">
          TOP
      </h2>
      
    <div class="statistic">
      <div class="value">
        <img src="https://www.shareicon.net/download/2016/06/28/624000_trophy_256x256.png" class="ui circular inline image">
        1
      </div>
      <div class="label">
        Hawkings
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="https://www.shareicon.net/download/2016/06/28/624000_trophy_256x256.png" class="ui circular inline image">
        2
      </div>
      <div class="label">
        Tyson
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="https://www.shareicon.net/download/2016/06/28/624000_trophy_256x256.png" class="ui circular inline image">
        3
      </div>
      <div class="label">
        Kojima
      </div>
    </div>
  </div>
    
    <div class="ui inverted one statistics column">
      <h2 class="ui fluid block header rounded inverted">
          CLASS
      </h2>
      <div class="statistic">
        <div class="text value">
          2,355
        </div>
        <div class="label">
          Total Monsters Defeated
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          6
        </div>
        <div class="label">
          Total Average Incorrect
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          14
        </div>
        <div class="label">
          Total Average Correct
        </div>
      </div>
    </div>
</div><!--
    <div class="fifteen wide column">
        <div class="ui two column grid">
            <div class="six wide column">
                <!--<h1>My Stats</h1>
                <!--Layout preview: level, total kills, total xp, battles won, rank in class
                <i class="star icon yellow"></i> Level: {{hero.level}}
                <div></div>
                <i class="empty star icon yellow"></i> Total XP: {{hero.getXP()}}
                <div> </div>
                <i class="flag icon red"></i> Total victories: {{hero.kills}}
                <div></div>
                <i class="world icon blue"></i> Areas Unlocked: #
                <div></div>
                <i class="university icon grey"></i> Rank in Class: #
                <div></div>
                <i class="trophy icon yellow"></i> Achievements Unlocked: {{hero.achievements.length}}
                <div></div>
            </div>
            <div class = "ui three column grid">
                <h2>Class Stats</h2>
                <div class = "ten wide column">
                    <h3>Overall Most XP</h3>
                </div>
                <div class = "ten wide column">
                    <h3>Overall Most Victories</h3>
                </div>
                <div class = "ten wide column">
                    <h3>Overall Most Money</h3>
                </div>
            </div>
        </div>
    </div>
    !-->
</div>