
<div class="ui segment basic fluid" style="width:50vw!important" ng-controller="tavernCtrl" ng-init="init()">
  <div class="ui segment left aligned raised fluid">
      <a class="ui top attached label">Board</a>
      <div class="ui left aligned inverted comments">
          <div class="comment">
              <a class="avatar">
                <img src="https://vignette2.wikia.nocookie.net/realmofthemadgod/images/8/8f/Wizard_0.png/revision/latest?cb=20111104231251">
              </a>
              <div class="content">
                <a class="author">Gandalf</a>
                <div class="metadata">
                  <div class="date">1 day ago</div>
                </div>
                <div class="text">
                  Hello
                </div>
              </div>
          </div>
          <div class="comment">
              <a class="avatar">
                <img src="https://vignette2.wikia.nocookie.net/realmofthemadgod/images/8/8f/Wizard_0.png/revision/latest?cb=20111104231251">
              </a>
              <div class="content">
                <a class="author">Gandalf</a>
                <div class="metadata">
                  <div class="date">1 day ago</div>
                </div>
                <div class="text">
                  Hi
                </div>
              </div>
          </div>
          <div class="comment">
              <a class="avatar">
                <img src="https://vignette2.wikia.nocookie.net/realmofthemadgod/images/8/8f/Wizard_0.png/revision/latest?cb=20111104231251">
              </a>
              <div class="content">
                <a class="author">Gandalf</a>
                <div class="metadata">
                  <div class="date">1 day ago</div>
                </div>
                <div class="text">
                  Testing
                </div>
              </div>
          </div>
          <div class="comment">
              <a class="avatar">
                <img src="https://vignette2.wikia.nocookie.net/realmofthemadgod/images/8/8f/Wizard_0.png/revision/latest?cb=20111104231251">
              </a>
              <div class="content">
                <a class="author">Gandalf</a>
                <div class="metadata">
                  <div class="date">1 day ago</div>
                </div>
                <div class="text">
                  Wassup
                </div>
              </div>
          </div>
          <div class="comment">
              <a class="avatar">
                <img src="https://vignette2.wikia.nocookie.net/realmofthemadgod/images/8/8f/Wizard_0.png/revision/latest?cb=20111104231251">
              </a>
              <div class="content">
                <a class="author">Gandalf</a>
                <div class="metadata">
                  <div class="date">1 day ago</div>
                </div>
                <div class="text">
                  Testing... TBD
                </div>
              </div>
          </div>
          <div class="comment">
              <a class="avatar">
                <img src="http://static.wixstatic.com/media/5a7184_7ae5301c8e764f34911caa0ca8a66e94.png">
              </a>
              <div class="content">
                <a class="author">Bilbo</a>
                <div class="metadata">
                  <div class="date">1 day ago</div>
                </div>
                <div class="text">
                  ASDQwifjqpfjpoejpoqejo12312t1
                </div>
              </div>
          </div>
          <div class="comment">
              <a class="avatar">
                <img src="https://vignette1.wikia.nocookie.net/realmofthemadgod/images/2/29/Archer.png/revision/latest?cb=20111104230908">
              </a>
              <div class="content">
                <a class="author">waterguy12</a>
                <div class="metadata">
                  <div class="date">3 day ago</div>
                </div>
                <div class="text">
                  hello is anyone here
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="ui fluid action input top attached">
    <input type="text" placeholder="Speak your mind!">
    <div class="ui button">Send</div>
  </div>
        
        <!--http://static.wixstatic.com/media/5a7184_7ae5301c8e764f34911caa0ca8a66e94.png
        https://vignette1.wikia.nocookie.net/realmofthemadgod/images/2/29/Archer.png/revision/latest?cb=20111104230908
        <div class="column">
            <div class="ui segment fluid">
                <a class="ui red ribbon label">Upcoming</a>
                <div class="event-scroll fancy-scroll">
                    <div ng-repeat="e in posts | filter: {month: thisMonth}" ng-click="modals.event(e)">
                        <div class="alert alert-info ui message">
                            <div>
                                <b>{{e.title}}</b>
                                <div></div>
                                {{e.monthName}} {{e.day}}
                                <div></div>
                                {{e.end | date:"MMM dd"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        !-->
</div>